*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Times New Roman', sans-serif;
}

.container{
  background-color: #282d35;
}

.navbar{
  display: flex;
  align-items: center;
  padding: 30px 25px;
  height: 90px;
  color: rgb(207, 212, 218);
  background-color: #21222A;
}

.navbar > h3, .navbar > h4{
  margin: 0;
}

.navbar > h3{
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}
.navbar > h4{
  color: #deebf8;
  font-weight: 600;
}

.navbar > img{
  height: 60px;
  margin-right: 12px;
}
.main-contents{
  color: white;
  padding: 57px 27px;
  background-image: url("images/logo512.png");
  background-repeat: no-repeat;
 background-position-x: 65em;
}

.fun{
  margin: 0;
  letter-spacing: -0.05em;
  font-size: 39px;
}

.list {
  margin-top: 46px;
}

.list > li{
  line-height: 19px;
  padding-block: 10px;
  max-width: 400px; 
}

.list > li::marker{
  font-size: 1.4em;
  color: #61dafb;
}

@media (max-width: 720px) {
  .main-contents{
    color: white;
    padding: 57px 27px;
    background-image: url("images/logo192.png");
    background-repeat: no-repeat;
   background-position: 28em;
  }
}